- name: Get list of libvirt networks
  community.libvirt.virt_net:
    command: list_nets
  register: libvirt_nets

- name: Ensure libvirt nat network is defined
  community.libvirt.virt_net:
    name: "{{ item.name }}"
    command: define
    xml: '{{ lookup("template", "nat_network.xml.j2") }}'
  loop: "{{ libvirt_host_networks }}"
  when:
    - item.name not in libvirt_nets.list_nets
    - item.create | bool
    - item.mode == 'nat'

- name: Ensure libvirt networks are active
  community.libvirt.virt_net:
    name: "{{ item.name }}"
    state: active
  loop: "{{ libvirt_host_networks }}"
  when: item.create | bool

- name: Ensure libvirt networks start on boot
  community.libvirt.virt_net:
    name: "{{ item.name }}"
    autostart: true
  loop: "{{ libvirt_host_networks }}"
  when: item.create | bool
