- name: Ensure ~/.config exist
  ansible.builtin.file:
    path: "{{ user_homedir }}/.config"
    state: directory
    owner: "{{ shell_user }}"
    group: "{{ shell_user }}"
    mode: "0755"

- name: Deploy startship config for current user
  ansible.builtin.copy:
    src: "{{ starship_config }}"
    dest: "{{ user_homedir }}/.config/starship.toml"
    owner: "{{ shell_user }}"
    group: "{{ shell_user }}"
    mode: "0644"
