---
- name: Ensure lvm2 is installed
  ansible.builtin.shell: >
    rpm -q lvm2 || yum install -y lvm2 && echo yes
  tags:
    - pkgs

- name: Checking if  host_device exist
  community.general.parted: 
    device: "/dev/{{ host_device }}"
    unit: MiB
  register: device_info
  ignore_errors: true
  changed_when: device_info.failed|bool

- name: Fail if the device does not exist
  ansible.builtin.fail:
    msg: |
       Could not find the device /dev/{{ host_device }} 
       please ensure the variable host_device is set to the device
       you want to use.
  when: device_info.failed|bool

- name: Set LVM Facts
  ansible.builtin.set_fact:
    vg_name_check: "LVM2_VG_NAME={{ vg_name }}"
    vg_not_on_pv: ""
    vg_not_exist: ""
    vg_exist: ""

- name: Check if the vg_name is on the device /dev/
  ansible.builtin.shell: |
    set -o pipefail
    pvs -o vg_name,pv_name --noheadings --nameprefixes --unquoted | awk '/{{ host_device }}/ {print $1}'
  args:
    executable: /bin/bash
  register: pvs_info
  changed_when: pvs_info.stdout != vg_name_check

- name: Set the fact if the vg_name is not on the device /dev/
  ansible.builtin.set_fact:
    vg_not_on_pv: "{{ true if pvs_info.stdout != vg_name_check else false }}"

- name: Check if the vg_name exist
  ansible.builtin.shell: |
    vgs -o vg_name,pv_name --noheadings --nameprefixes --unquoted| awk '/{{ vg_name }}/ {print $1}'
  register: vg_info
  changed_when: vg_info.stdout != vg_name_check

- name: Set the fact if the vg_name does not exist
  ansible.builtin.set_fact:
    vg_not_exist: "{{ true if vg_info.stdout != vg_name_check else false }}"

- name: Set the fact if the vg_name exist
  ansible.builtin.set_fact:
    vg_exist: "{{ true if vg_info.stdout == vg_name_check else false }}"

- name: Fail if the vg_name exist but not on device /dev/
  ansible.builtin.fail:
    msg: |
      The {{ vg_name }} exist but not on device /dev/{{ host_device }}
      please resolve and rerun the play. Either update the host_device variable or
      change the vg_name variable value to something else.
  when: vg_exist and vg_not_on_pv

- name: Set the fact if the vg_name will be created
  ansible.builtin.set_fact:
    create_vg: "{{ true if vg_not_exist and vg_not_on_pv else false }}"

- name: Print the vg_name will be created
  ansible.builtin.debug:
    msg: "{{ vg_name }} will be created on /dev/{{ host_device }}"
  when: create_vg|bool 