<network connections='1'>
  <name>{{ qubinode_kvmhost_setup_net_name }}</name>
  <forward mode='{{ qubinode_kvmhost_setup_net_mode }}'/>
  <bridge name='{{ qubinode_kvmhost_setup_net_bridge_device }}'/>
</network>